.photo-grid {
  display: grid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  gap: 12px;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, 1fr);
  margin: 0 16px;
  margin-top: 64px;
  max-width: 1184px;
}

@media (min-width: 320px) {
  .photo-grid {
    gap: 16px;
    margin-top: calc(100vw*7/112 + 44px);
  }
}

@media (min-width: 425px) {
  .photo-grid {
    margin: 0 24px;
    margin-top: calc(100vw*7/112 + 44px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

@media (min-width: 768px) {
  .photo-grid {
    margin-top: 92px;
  }
}

@media (min-width: 1024px) {
  .photo-grid {
    margin: 0 auto;
    margin-top: 92px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: calc(100vw - 96px);
    align-self: center;
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 92.5vw;
  }
}
