.places {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 984px;
  margin: calc(100vw*0.058 + 45.43px) auto;
}

@media (min-width: 768px) {
  .places {
    width: calc(100vw*0.8125 + 96px);
    margin: 90px auto;
  }
}

@media (min-width: 1024px) {
  .places {
    width: calc(100vw*56/256 + 704px);
  }
}
