.lead {
  margin: 0;
  padding: 0;
  margin-top: 48px;
  max-width: 984px;
  width: 100%;
}

@media (min-width: 1024px) {
  .lead {
    margin-top: calc(100vw*0.031 + 16px);
    width: calc(100vw*0.625 + 384px);
  }
}

@media (min-width: 1280px) {
  .lead {
    margin-top: 56px;
  }
}
