.header__logo {
    width: calc(100vw*0.076 + 117.71px);
    height: 100%;
    max-width: 176px;
    min-height: 42px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../../images/header-logo.svg');
    margin: 0;
    z-index: 1;
}

@media (min-width: 768px) {
  .place__paragraph {
    width: 44vw;
    min-height: 52px;
  }
}
