.header__logo {
    width: calc(100vw*0.076 + 117.71px);
    height: 100%;
    max-width: 176px;
    min-height: 42px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../../images/header-logo.svg');
    background-position: center;
    margin: 0;
    z-index: 1;
}

@media (min-width: 320px) {
  .header__logo {
    min-height: calc(100vw*0.022 + 34.86px);
  }
}

@media (min-width: 768px) {
  .header__logo {
    min-height: 52px;
  }
}
