.lead__title {
  width: 90vw;
  max-width: 720px;
  margin: 0 auto;
  font-weight: 900;
  font-size: calc(100vw*56/448);
  line-height: calc(100vw*0.125 + 4px);
  text-align: center;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
  }
}

@media (max-width: 320px) {
  .lead__title {
    font-size: calc(12.5vw);
  }
}
