.image-block {
  width: 100%;
  margin-top: 64px;
  position: relative;
}

@media (max-width: 1280px) {
  .image-block {
    margin-top: calc(100vw/32 + 24px);
  }
}

@media (max-width: 1024px) {
  .image-block {
    margin-top: 56px;
  }
}

@media (max-width: 768px) {
  .image-block {
    margin-top: calc(100vw*16/448 + 28.57px);
  }
}

@media (max-width: 320px) {
  .image-block {
    margin-top: 40px;
  }
}
