.cover {
  width: 100%;
  max-width: 1184px;
  height: 62.5vw;
  max-height: 740px;
  margin-bottom: calc(100vw*0.058 + 45.43px);
  background-image: url('../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .cover {
    margin-bottom: 90px;
  }
}
