.cover {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 0;
  max-width: 1184px;
  margin-bottom: calc(100vw*0.058 + 45.43px);
  margin-top: calc(100vw*0.058 + 45.43px);
  background-image: url('../../images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .cover {
    margin-bottom: 90px;
    margin-top: 90px;
  }
}

@media (min-width: 1280px) {
  .cover {
    min-height: 740px;
  }
}
