.cover__title {
  display: inline-block;
  margin-top: 33px;
  margin-bottom: calc(100vw*0.036 + 4.57px);
  font-weight: 900;
  font-size: calc(100vw*0.089 + 3.43px);
  line-height: calc(100vw*0.103 + 2.2px);
  text-align: center;
  max-width: calc(100vw*0.607 + 93.71px);
  color: #fff;
}

@media (min-width: 320px) {
  .cover__title {
    margin-top: calc(100vw*0.183 - 25.60px);
  }
}

@media (min-width: 768px) {
  .cover__title {
    font-size: 72px;
    line-height: 76px;
    margin-bottom: 32px;
    max-width: 560px;
    margin-top: calc(100vw*0.313 - 125px);
  }
}

@media (min-width: 1024px) {
  .cover__title {
    margin-top: calc(100vw*0.195 - 5px);
  }
}

@media (min-width: 1280px) {
  .cover__title {
    margin-top: 245px;
  }
}
