.intro__title {
  font-style: normal;
  font-weight: 900;
  font-size: 10vw;
  line-height: 1.1;
  margin: 0 0 40px;
}

@media (min-width: 320px) {
  .intro__title {
    width: calc(100vw*54/56 - 20.57px);
    font-size: calc(100vw*11/224 + 16.29px);
  }
}

@media (min-width: 768px) {
  .intro__title {
    width: calc(-100vw*15/128 + 810px);
    font-size: 54px;
  }
}

@media (min-width: 1024px) {
  .intro__title {
    min-width: 690px;
  }
}
